<% @photos.each do |photo| %>
  <div class="card devise-form1 container1">
    <div class="card-header">
      <%= image_tag photo.image.url(:medium) %><br>
      <strong><%= photo.description %></strong><br>
      <%= link_to photo.user.email, profile_path(photo.user_id) if photo.user %><br>
      <%= link_to 'Показать', photo, class: 'btn btn-primary' %>
      <% if photo.user == current_user %>
        | <%= link_to 'Редактировать', edit_photo_path(photo), class: 'btn btn-primary' %> |
        <%= link_to 'Удалить', photo, method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
<% end %>
